<!DOCTYPE html>
<html>
<head>
  <title>Skeletor</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css">
  <script type="text/javascript" src="jquery-1.6.1.min.js"></script>
  <script type="text/javascript" src="underscore-min.js"></script>
  <script type="text/javascript" src="backbone-min.js"></script>
  <script type="text/javascript" src="app.js"></script>

  <link href="app.css" rel="stylesheet"/>
</head>
<body>

  <div class="topbar-wrapper" style="z-index: 5;"> 
    <div class="topbar"> 
      <div class="topbar-inner"> 
        <div class="container"> 
          <h3><a href="#">Skeletor</a></h3> 
          <ul class="nav"> 
            <li class="active"><a href="#">Home</a></li> 
            <li><a href="#/events">Events</a></li> 
            <li><a href="#/events/123456/registrations">Registrations</a></li> 
            <li><a href="#/events/123456/registration/0987654321">Attendee</a></li> 
            <li class="dropdown">         
          </ul> 
        </div> 
      </div><!-- /topbar-inner --> 
    </div><!-- /topbar --> 
  </div><!-- /topbar-wrapper --> 
  
  <div class="container outer">
    <div id="alerts">

    </div>

	<section id="user">
	  <div class="page-header">
	    <h1>User Login <small>Login to your RegOnline account here</small></h1>
	  </div>
	  <div class="row login_content">
          <!-- Content Loads Here -->
	  </div>
	</section>
    <section id="events">
        <div class="page-header">
          <h1>Events <small>Your events</small></h1>
        </div>    
        <div id="events">
            <a href="#/events/123456">My Test Event</a>
        </div>
    </section>

    <section id="event">
        <div class="page-header">
          <h1>Event Details <small>Your event details</small></h1>
        </div>    
        <div id="event">
            <a href="#/events/123456/registrations">View Registrations</a>
        </div>
    </section>

    <section id="registrations">
        <div class="page-header">
          <h1>Registrations <small>For this event</small></h1>
        </div>    
        <div id="registrations">
            <a href="#/events/123456/registration/987654321">View Registration Details</a>
        </div>
    </section>
    
    <section id="registration">
        <div class="page-header">
          <h1>Registration Details <small>Details about this registrant</small></h1>
        </div>    
        <div id="registration">
            Reg Details Here
        </div>
    </section>
  </div>

    <script type="text/template" id="alert_template">
        <div class="alert-message <%= warning_level %>"> 
            <a class="close" onclick="$(this).parent().fadeOut()" href="#">&times;</a> 
            <p><%= warning_message %></p>
        </div>
    </script>
    
    <script type="text/template" id="login_template">
        <form>
            <fieldset>
                <legend>Login Here</legend>
                <div class="clearfix">
                    <label for="username">Username</label>
                    <div class="input">
                        <input class="xlarge" id="username" name="username" value="jackie12" size="30" type="text"/>
                    </div>
                </div>
                <div class="clearfix">
                    <label for="password">Password</label>
                    <div class="input">
                        <input class="xlarge" id="password" name="password" size="30" value="jackie1212" type="password"/>
                    </div>
                </div>
                <div class="actions">
                    <input type="submit" id="btnLogin" class="btn primary" value="Login" onclick="return false;">
                </div>            
            </fieldset>
        </form>    
    </script>

</body>
</html>

